$color: purple;

#main {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: bisque;
    background-image: url('https://static.vecteezy.com/system/resources/previews/022/712/737/large_2x/beach-cartoon-background-wallpaper-generat-ai-free-photo.jpg');
}

;