
#main {
    position:relative;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/5.jpeg');
}

.pause-button{
    background-image: url('../assets/2.jpg');
    background-size: cover;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-position: center;
    position: absolute;
    top: 5%;
    left: 85%;
    // transform: translate(-50%, -50%);
   
}
img{
    width: 100%;
    height: 100%;
}
.game_name{
    padding: 20px;
    text-align: center;
    color: yellow;
    font-size: 75px;
    font-family: 'Kablammo', cursive;
    font-weight: 900;
    font-style: italic;
    cursor: pointer;
}
.mute-button{
    background-image: url('../assets/mute.jpg');
    background-size: cover;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-position: center;
    position: absolute;
    top: 5%;
    left: 95%;
}
.restart-button{
    background-image: url('../assets/6.png');
    background-size: cover;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-position: center;
    position: absolute;
    top: 5%;
    left: 80%;
}
.side{
   
    display: none;
  position: absolute;
  top: 13%;
  left:15%;
  background-image: url('../assets/5.jpeg');
    border:15px solid #ABEED7 ;
    width: 70%;
    height: 77%;
    background-size:cover;
    background-position: center;
    opacity: 0.7;
    border-radius: 30px;
    font-family: 'Kablammo', cursive;

}
h1:hover .side  {
    display: block ;

}