#mapCanvas {
    // background-color: aqua;
    display: block;
    // border: 10px solid lightblue;
    margin: auto;
    padding-top: 100px;
    // margin-left: 30vw;
    // margin-right: 30vw;
}


// #map-canvas {
//     border: 10px solid lightblue;
//     display: flex;
//     margin: auto;

//     display: block;
//     margin: auto auto;
// }