#mapCanvas {
    box-shadow: 3px 3px 3px 3px lightcoral, -1em 0 .4em lightblue;
    // border: 10px solid lightblue;
 z-index: -1;
   border-radius: 25px;
    display: block;
    margin: auto;
  
}

.oldman {
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateX(0); }
  100% { transform: translateX(20px); }
}